.buttonpanel {
  display: grid;
  cursor: pointer;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(4rem, auto) repeat(5, 3rem);
  background-color: #858694;
  /* flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto; */
}


