.ButtonPanel {
  background-color: black;
  display:flex-reverse;
  align-items: center;
  
}

/* .component-button-panel > div {
  width: 100%;
  margin-bottom: 1px;
  flex: 1 0 auto;
  display: flex;
}
 */
